
:root {
  --primary-color: #1A4B84;
}


a {
  text-decoration: none;
}


.container {
padding: 40px;
margin: 0 auto;
max-width: 1000px;
text-align: center;
}

/* Header Styles
-------------------------------------------------- */

header {
  background: rgb(216, 216, 216);
  height: 120px;
  margin: 0px;

}

/* header .navbar {
  padding: 20px 0 0;
} */

header .navbar-brand {
  margin: 0px;
  padding: 0;
  z-index: 1;
  width: 213px;
  height: 120px;
  background-color: var(--primary-color) ;
  border-radius: 0;
}

header .navbar-brand img {
  width: 56px;
}


header h3 {
  margin: 0px;
  padding: 0;
  font: normal normal 600 18px/27px Oswald;
  color: #fff;
}

header h4 {
  margin: 0px;
  padding: 0;
  font: normal normal 600 18px/28px Oswald;
  letter-spacing: 0.36px;
  color: #191919;
  text-transform: uppercase;
}

header p {
  margin: 0px;
  padding: 0;
  font: 600 12px/15px Poppins;
  letter-spacing: 0.24px;
  color: #191919;
}

.JsTitle {
  margin: 0px;
  padding: 0;
  background-color: #838383;
  height: 40px;
  font: normal normal 600 19px/27px Oswald;
  letter-spacing: 0.38px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.JsTitle img {
  margin: 0px;
  padding: 0;
  width: 25px;
  margin-right: 10px;
}


.link {
  margin: 0px;
  padding: 0px;
  height: 10px;
  margin-right: 4px;
  
 
  
}
a{
  padding: 0;
  margin: 0px;
  
font-size: 12px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}


.footer-dark {
  background-color: var(--primary-color) ;
  color: #fff;
}

footer {
  font: normal normal 600 12px/19px Oswald;
  letter-spacing: 0.24px;
  color: #FFFFFF;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.character {
  
  background-color: #c3adca;
  border: 1px solid black;
  color: #000;
  padding-inline-start: 0;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
}

.character img {
  border-radius: 8px;
  max-height: 100px;
  grid-area: image;
}

.charList{
  
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
 #search {
  height: 26px;
 }